// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright 2025 in.hub GmbH
 */

/ {
	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_leds>;

		led_green_status: green-status {
			label = "green:status";
			gpios = <&gpio1 4 0x0>;
			default-state = "off";
		};

		led_red_status: red-status {
			label = "red:status";
			gpios = <&gpio1 5 0x0>;
			default-state = "off";
		};

		led_green_activity: green-activity {
			label = "green:activity";
			gpios = <&gpio1 12 0x0>;
			default-state = "off";
		};

		led_red_activity: red-activity {
			label = "red:activity";
			gpios = <&gpio1 18 0x0>;
			default-state = "off";
		};

		led_green_heartbeat: green-heartbeat {
			label = "green:heartbeat";
			gpios = <&gpio1 19 0x0>;
			linux,default-trigger = "timer";
		};

		led_red_disk: red-disk  {
			label = "red:disk";
			gpios = <&gpio3 23 0x0>;
			default-state = "off";
		};
	};

	reg_dac: regulator-dac {
		compatible = "regulator-fixed";
		regulator-name = "dac_vdd";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};
};

&iomuxc {
	pinctrl-0 = <&pinctrl_gpio3 &pinctrl_gpio_dac &pinctrl_gpio_io1 &pinctrl_gpio_io2 &pinctrl_gpio_io3 &pinctrl_gpio_io4 &pinctrl_gpio_io5 &pinctrl_gpio_io6 &pinctrl_gpio_di &pinctrl_bp_ctrl>;

	pinctrl_leds: ledsgrp {
		fsl,pins = <
			MX6UL_PAD_UART1_RTS_B__GPIO1_IO19	0x74 /* SODIMM 27 – LED1G */
			MX6UL_PAD_LCD_DATA18__GPIO3_IO23	0x74 /* SODIMM 29 – LED1R */
			MX6UL_PAD_JTAG_TDO__GPIO1_IO12		0x74 /* SODIMM 23 – LED2G */
			MX6UL_PAD_UART1_CTS_B__GPIO1_IO18	0x74 /* SODIMM 25 – LED2R */
			MX6UL_PAD_GPIO1_IO04__GPIO1_IO04	0x74 /* SODIMM 19 – LED3G */
			MX6UL_PAD_GPIO1_IO05__GPIO1_IO05	0x74 /* SODIMM 21 – LED3R */
		>;
	};

	pinctrl_gpio_io3: io3grp {
		fsl,pins = <
			MX6UL_PAD_LCD_DATA10__GPIO3_IO15	0x1030 /* SODIMM 74 – ACUREN3 */
			MX6UL_PAD_LCD_DATA04__GPIO3_IO09	0xf0b0 /* SODIMM 78 – AFLT3 */
			MX6UL_PAD_CSI_DATA01__GPIO4_IO22	0xf0b0 /* SODIMM 103 – FLT3 */
			MX6UL_PAD_NAND_CE1_B__GPIO4_IO14	0x1030 /* SODIMM 133 – DOUT3 / IN */
			MX6UL_PAD_ENET1_RX_EN__GPIO2_IO02	0x1030 /* SODIMM 178 – DOEN3 / PP */
		>;
	};

	pinctrl_gpio_io4: io4grp {
		fsl,pins = <
			MX6UL_PAD_JTAG_MOD__GPIO1_IO10		0x1030 /* SODIMM 106 – ACUREN4 */
			MX6UL_PAD_LCD_DATA06__GPIO3_IO11	0xf0b0 /* SODIMM 80 – AFLT4 */
			MX6UL_PAD_LCD_DATA15__GPIO3_IO20	 0xf0b0 /* SODIMM 64  – FLT4 */
			MX6UL_PAD_LCD_DATA14__GPIO3_IO19	 0xf0b0 /* SODIMM 66  – DIN4 / DOI_LVL */
			MX6UL_PAD_LCD_HSYNC__GPIO3_IO02		 0x1030 /* SODIMM 68  – PDEN4 / DI_EN */
			MX6UL_PAD_LCD_DATA01__GPIO3_IO06	 0x1030 /* SODIMM 70  – DOUT4 / IN */
			MX6UL_PAD_LCD_DATA05__GPIO3_IO10	 0x1030 /* SODIMM 72  – DOEN4 / PP */
		>;
	};

	pinctrl_gpio_io5: io5grp {
		fsl,pins = <
			MX6UL_PAD_LCD_DATA13__GPIO3_IO18	0xf0b0 /* SODIMM 54 – FLT5 */
			MX6UL_PAD_LCD_CLK__GPIO3_IO00		0xf0b0 /* SODIMM 56 – DIN5 / DOI_LVL */
			MX6UL_PAD_LCD_DATA03__GPIO3_IO08	0x1030 /* SODIMM 58 – PDEN5 / DI_EN */
			MX6UL_PAD_LCD_DATA02__GPIO3_IO07	0x1030 /* SODIMM 60 – DOUT5 / IN */
			MX6UL_PAD_LCD_DATA08__GPIO3_IO13	0x1030 /* SODIMM 62 – DOEN5 / PP */
		>;
	};

	pinctrl_gpio_io6: io6grp {
		fsl,pins = <
			MX6UL_PAD_LCD_ENABLE__GPIO3_IO01	0xf0b0 /* SODIMM 44 – FLT6 */
			MX6UL_PAD_LCD_DATA07__GPIO3_IO12	0xf0b0 /* SODIMM 46 – DIN6 / DOI_LVL */
			MX6UL_PAD_LCD_DATA09__GPIO3_IO14	0x1030 /* SODIMM 48 – PDEN6 / DI_EN */
			MX6UL_PAD_LCD_DATA11__GPIO3_IO16	0x1030 /* SODIMM 50 – DOUT6 / IN */
			MX6UL_PAD_LCD_DATA12__GPIO3_IO17	0x1030 /* SODIMM 52 – DOEN6 / PP */
		>;
	};

	pinctrl_gpio_di: digrp {
		fsl,pins = <
			MX6UL_PAD_LCD_DATA17__GPIO3_IO22		0xf0b0 /* SODIMM 61 – DI1 */
			MX6UL_PAD_ENET1_RX_DATA1__GPIO2_IO01	0xf0b0 /* SODIMM 63 – DI2 */
			MX6UL_PAD_ENET1_TX_CLK__GPIO2_IO06		0xf0b0 /* SODIMM 67 – DI4 */
			MX6UL_PAD_ENET1_RX_DATA0__GPIO2_IO00	0xf0b0 /* SODIMM 55 – DI5 */
		>;
	};

	pinctrl_bp_uart: bpuartgrp {
		fsl,pins = <
			MX6UL_PAD_UART2_TX_DATA__UART2_DTE_RX	0x1b0b1 /* SODIMM 36 / RXBP */
			MX6UL_PAD_UART2_RX_DATA__UART2_DTE_TX	0x1b0b1 /* SODIMM 38 / TXBP */
			MX6UL_PAD_UART2_RTS_B__UART2_DTE_CTS	0x1b0b1 /* SODIMM 34 / RTS */
		>;
	};

	pinctrl_bp_ctrl: bpctrlgrp {
		fsl,pins = <
			MX6UL_PAD_SD1_DATA0__GPIO2_IO18			0x1030 /* SODIMM 192 / ENBP */
			MX6UL_PAD_UART3_RTS_B__GPIO1_IO27		0xf0b0 /* SODIMM 186 / MDBP (module detection) */
		>;
	};

	pinctrl_adc1_nopd: adc1nopdgrp {
		fsl,pins = <
			MX6UL_PAD_GPIO1_IO00__GPIO1_IO00	0x00 /* SODIMM 8 - ADCx_IN0 */
			MX6UL_PAD_GPIO1_IO01__GPIO1_IO01	0x00 /* SODIMM 6 - ADCx_IN1 */
			MX6UL_PAD_GPIO1_IO08__GPIO1_IO08	0x00 /* SODIMM 4 - ADCx_IN8 */
			MX6UL_PAD_GPIO1_IO09__GPIO1_IO09	0x00 /* SODIMM 2 - ADCx_IN9 */
		>;
	};
};

&iomuxc_snvs {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_snvs_gpio_io2 &pinctrl_snvs_gpio_io3 &pinctrl_snvs_gpio_di>;

	/delete-node/ adc1grp;

	pinctrl_snvs_gpio_io2: snvsio3grp {
		fsl,pins = <
			MX6ULL_PAD_SNVS_TAMPER8__GPIO5_IO08	0x1030 /* SODIMM 138 – PDEN2 / DI_EN */
		>;
	};

	pinctrl_snvs_gpio_io3: snvsio3grp {
		fsl,pins = <
			MX6ULL_PAD_SNVS_TAMPER6__GPIO5_IO06	0xf0b0 /* SODIMM 93 – DIN3 / DOI_LVL */
			MX6ULL_PAD_SNVS_TAMPER4__GPIO5_IO04	0x1030 /* SODIMM 107 – PDEN3 / DI_EN */
		>;
	};

	pinctrl_snvs_gpio_di: snvsdigrp {
		fsl,pins = <
			MX6ULL_PAD_SNVS_TAMPER1__GPIO5_IO01		0xf0b0 /* SODIMM 45 - DI3 */
			MX6UL_PAD_SNVS_TAMPER0__GPIO5_IO00		0xf0b0 /* SODIMM 43 – DI6 */
		>;
	};

};

&adc1 {
	status = "okay";
	pinctrl-0 = <&pinctrl_adc1_nopd>;
};

&ecspi1 {
	status = "okay";

	dac@0 {
		compatible = "microchip,mcp4822";
		reg = <0>;
		spi-max-frequency = <1000000>;
		vdd-supply = <&reg_dac>;
	};
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_bp_uart>;
	linux,rs485-enabled-at-boot-time;
	uart-has-rtscts;
	fsl,dte-mode;
	status = "okay";
};
